<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.title}">Newsletter Subscription</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/subscription.css}" href="../static/css/subscription.css" />
</head>
<body>

<div class="content">
    <h1 th:text="#{confirmation.headling1}">Dear Client,</h1>
    <h2 th:text="#{confirmation.headling2}">Thank you for your subscription!</h2>
    <span th:text="#{confirmation.headling.copy(${numberOfNewslettersSubscription})}"/>

    <h3 th:text="#{confirmation.newsletter-highlights}">Please see our latest highlights:</h3>

    <ul th:each="newsletters : ${newsletterHighlights}">
        <li th:text="${newsletters.subject}" />
    </ul>

</div>

</body>
</html>