<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Newsletter Subscription</title>
    <link rel="stylesheet" type="text/css" href="/css/subscription.css" />
</head>
<body>

<div class="content">
    <h1>Dear Client,</h1>
    <h2>Thank you for your subscription!</h2>
    It is a pleasure to have you in our <span th:text="${numberOfNewslettersSubscription}"/> newsletter subscribers!

    <h3>Please see our latest highlights:</h3>

    <ul th:each="newsletters : ${newsletterHighlights}">
        <li th:text="${newsletters.subject}" />
    </ul>

</div>

</body>
</html>