<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Newsletter Subscription</title>
    <link rel="stylesheet" type="text/css" href="/css/subscription.css" />
</head>
<body>

<form method="post" action="/subscribe">
    <h1>Sign up for our newsletter</h1>
    <h2>get instant updates on hot product and special deals</h2>

    <label>Your name:</label>
    <input type="text" name="fullName" />


    <label>Your email:</label>
    <input type="email" name="emailAdress" />


    <button type="submit">Submit Registration</button>



</form>
</body>
</html>